{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
<!--<!DOCTYPE html>-->
<!--&lt;!&ndash;<html lang="{{ page.lang | default: site.lang | default: "en" }}">&ndash;&gt;-->
<!--<html lang="{{ page.lang | default: site.lang | default: "ko-KR" }}">-->

<!--  <head>-->
<!--    {% include head.html %}-->
<!--    &lt;!&ndash; google adsense 식별추가&ndash;&gt;-->
<!--    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2185390076315530"-->
<!--          crossorigin="anonymous"></script>-->
<!--  </head>-->

<!--  <body>-->
<!--  </body>-->

<!--</html>-->

{% endcomment %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2185390076315530"
          crossorigin="anonymous"></script>